.vscode/**
.vscode-test/**
.github/**
.agents/**
.claude/**
.cache/**
_bmad/**
_bmad-output/**
scripts/**
test/**
out/**
coverage/**
node_modules/**
src/**
.gitignore
esbuild.js
skills-lock.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/vitest.config.*
